*.py[cod]
*.log
.DS_Store
.idea
__pycache__
db.sqlite3*
env/*
*.sqlite3
*.session
node_modules
.env
local_settings.py
coverage.xml
*.tgz
*.zip
.pycov-data
*.swp
npm-debug.log
Thumbs.db
npm-cache.log
.localstorage
dist
build
*.sass-cache
*~
*.bak
.cache
.project
.vscode